/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body, input, input::placeholder {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    letter-spacing: .03rem;

    background: #FFFDFB;
}

 a {
    text-decoration: none;
 }

.bodytext {
    font-family: 'Lora', serif;
}

.app-header {
    /*padding-top: 2rem;*/
    position: relative;

    background: #FFE2B8;
    height: 25rem;
}

.app-header .icon {
    position: absolute;
    width: 1.5rem;
    top: 2rem;
}

.app-header .icon.menu {
    left: 1rem;
}

.app-header .icon.cart {
    right: 1rem;
}

.app-brand {
    padding-top: 2rem;
}

.wave {
    position: absolute;
    bottom: 0;
}

.brand-link {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.brand-image {
    height: 1.5rem;
}

.app-search {
    margin-top: -1rem;
    position: relative;
    padding: .5rem 1rem;
}

.search-icon {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
}

.filter-icon {
    position: absolute;
    top: 1rem;
    right: 2rem;
    padding-top: .4rem;
    padding-left: 1rem;
    padding-bottom: .3rem;
    border-left: 2px solid #FFE2B8;
}

.search-bar {
    border: 0;
    box-shadow: 0 0 2rem #FFE2B8;
    border-radius: 1rem;
    color: #CF9569;

    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 1rem 4rem .8rem 3rem;
    overflow: hidden;
}

.search-bar:focus {
    outline: none;
}

.search-bar::placeholder {
    color: #FFE2B8;
}

.frontpage-section {
    padding: 1rem;
}

.section-header {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.usp-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.usp-container .item {
    flex: 0 1 auto;
    text-align: center;
}

.usp-container .item .usp-icon {
    vertical-align: center;
    height: 2rem;
    padding: 1.5rem;
    padding-bottom: .5rem;
    border-radius: 1rem;
    /*background: #FFF6F6;*/
}

.usp-container .item .usp-label {
    display: block;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #333;
    font-size: .85rem;
}

.slider-container {
    list-style: none;
    padding: 0;
}

.slider-container .item {
    text-align: center;
}

.slider-container .item .icon {
    vertical-align: center;
    height: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: #FFF6F6;
}

.slider-container .item .label {
    display: block;
    padding: .5rem .5rem 0 .5rem;
    color: #333;
    font-size: .85rem;
}

.slider-container-large {
    list-style: none;
    padding: 0;
    margin: 0 ;
}

.slider-container-large .item {
    border: 1px solid #FFF6F6;
    border-radius: .5rem;
    background: white;
    padding: 1rem;
    margin-right: 1rem;
    font-size: .85rem;
}

.slider-container-large .thumbnail-container {
    width: 100%;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.slider-container-large .thumbnail {
    /*width: 100%;*/
    max-height: 10rem;
}

.slider-container-large .label-header {
    text-transform: uppercase;
    margin-bottom: .2rem;
    line-height: 1.3rem;
}

.slider-container-large .excerpt {
    line-height: 1.3rem;
}

.slider-container-large .author {
    float: left;
}

.slider-container-large .date {
    float: right;
}

.as-seen-on {
    padding: 0;
}

.as-seen-on .section-header {
    padding: 1rem;
}

.slider-container-logolist {
    background: #eaeaea;
    padding: 1rem;
    margin: 0;
    list-style: none;
    width: 100%;
}

.slider-container-logolist .item {
    display: block;
    margin: 1rem;
    text-align: center;
}

.slider-container-logolist .item .logo {
    height: 3rem;
}

.recommend-card {
    background: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: .8rem;
    /*box-shadow*/: 0 0 .3rem #FFE2B8;
    position: relative;
}

.keep {
    position: absolute;
    top: 0;
    right: 0;
    background: #FFE2E2;
    border: 0;
    padding: .8rem;
    border-top-right-radius: .8rem;
    border-bottom-left-radius: 1rem;
}

.view-more {
    display: inline-block;
    background: #FF6978;
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: white;
}

.reactions {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.reactions li img {
    height: 1.1rem;
    vertical-align: text-bottom;
}

.tab-content .centered {
    margin-top: 1.5rem;
}

.author {
    display: flex;
    align-items: center;
}

.avatar {
    margin: 0;
    padding: 0;

    background: #FFF6F6;
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
}

.user-name, .user-skin {
    margin: .5rem .5rem .5rem 1rem;
}

.user-name {
    font-weight: bold;
}

.card-header {
    font-size: .85rem;
}

.tab-content .thumbnail {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    overflow: hidden;
}

.tab-content .thumbnail img {
    object-fit: fill;
    height: 12rem;
}

/* ==========================================================================
   Tabs
   ========================================================================== */
.tab-container > input,
.tab-container section.tab-content > div {
    display: none;
}

#heavyweights:checked ~ section .heavyweights,
#users:checked ~ section .users,
#experts:checked ~ section .experts {
    display: block;
    background: #FEF4ED;
    padding: 1rem;
    border-radius: 1rem;
}

#heavyweights:checked ~ section .heavyweights {
    border-top-left-radius: 0;
}

#experts:checked ~ section .experts {
    border-top-right-radius: 0;
}

#heavyweights:checked ~ nav .heavyweights,
#users:checked ~ nav .users,
#experts:checked ~ nav .experts {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    background: #FEF4ED;
}

.tab-container {

}

.tab-container .tab-nav {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.tab-container .nav-item {
    flex: 0 0 auto;
    color: #FAA8AB;
    /*padding: .5rem 1rem;*/
    font-size: .85rem;
    border-radius: 1.2rem;
}

.tab-container .tab-nav .nav-item label {
    display: block;
    padding: .8rem 1rem;
    border-radius: 1.2rem;
}

#heavyweights:checked ~ nav .heavyweights label,
#users:checked ~ nav .users label,
#experts:checked ~ nav .experts label {
    background: #FF6978;
}

#heavyweights:checked ~ nav .heavyweights label {
    border-bottom-right-radius: 0;
}

#users:checked ~ nav .users label {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#experts:checked ~ nav .experts label {
    border-bottom-left-radius: 0;
}

.tab-container .tab-nav .nav-item label:active {
    
}

.tab-container .tab-content {
    /*background: #ccc;*/
    font-size: .85rem;
}
/* ==========================================================================
   Bottom menu
   ========================================================================== */
.menu-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: .85rem;
}

.bottom-menu {
    background: white;
    padding: 1.5rem 1rem 1rem 1rem;
    box-shadow: 0 0 2rem #E0E0E0;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    border: 0;
    background: none;
}

.btn.add-content {
    background: #FF6978;
    padding: 1rem;
    border-radius: 1rem;
}

.btn img {
    height: 1.2rem;
    vertical-align: text-bottom;
}

.btn .label {
    display: none;
}

.btn.active .label {
    display: inline;
    padding-left: .2rem;
}

.btn.active {
    background: #FFE8EF;
    color: #FF6978;
    height: 2.5rem;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.app-footer {
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.app-footer .signup {
    text-align: center;
    background: url(../img/signup_img.svg) center top no-repeat;
    text-align: center;
    padding-top: 18rem;
}

.app-footer .signup-label {

}

.app-footer .signup-link {
    background: #FF6978;
    border-radius: 1rem;
    padding: .5rem 1rem;
    color: white;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.centered {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}